.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(203, 186, 35);
    padding: 10px;
}
body{
    margin: 0%;
    padding: 0%;
}

.header ul{
    display: flex;
    list-style: none;
    margin: auto;
    justify-content: space-around;
    width: 300px;

}
.header ul li{
    padding: 10px;
}
.header .link h2{
    margin: 0;
}
.header .link {
    text-decoration: none;
    color: rgb(181, 32, 32);
    font-size: 20px;
}
.collage .link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
}
