.heading{
    color: red;
}
.img {
    width:80px;
    height: 80px;
}
.card{
    border : 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 500px;
    box-shadow: 1px 1px 5px #ddddbB;

}
.textWrap{
    padding: 10px;
}